exportPattern("^[[:alpha:]]+")
import(scales,
    Matrix,
    lsa,
    gplots,
    cluster,
    abind,
    igraph,
    splines,
    klaR,
    stringr,
    plyr,
    magrittr,
    pamr,
    RColorBrewer)
